<h1><%= @room.name %></h1>

<h3>Occupancy:</h3>
<p><%= @room.occupancy %> people</p>

<h3>Plants:</h3>
<ul>
  <% @room.house_plants.each do |plant| %>
    <li><%= plant.plant_type %></li>
  <% end %>
</ul>
